body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
.containeruno img{
    width: 400px;
    height: 300px;
}
.containeruno {
    text-align: center;
    margin-bottom: 20px;
}

.container2, .container3, .container4, .container5 {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

/* Estilos específicos para container2 */
.container2-text {
    text-align: center;
    margin-bottom: 20px;
}

.container2-img1, .container2-img2, .container2-img3 {
    margin-bottom: 20px;
    text-align: center;
}

.container2-img1 img, .container2-img2 img, .container2-img3 img {
    max-width: 100%;
    height: auto;
}

.container3-text {
    text-align: justify;
    margin-bottom: 20px;
}

.container3-text p {
    text-align: justify;
}

.container4 {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgb(191, 190, 254);
}
.container4 h1{
    color: rgb(0, 0, 0);
    text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px rgb(255, 255, 255),
    0 0 80px rgb(255, 255, 255),
    0 0 90px rgb(255, 255, 255),
    0 0 100px rgb(255, 255, 255),
    0 0 150px rgb(255, 255, 255);              
}
.p4 {
    background-color:#b5b5b5 ;
    height: auto;
    width: 15%;
    padding: 20px;
    font-size: 20px;
    font-style: normal;
    border-radius: 10px;
}
.p4 p{
    color: #000000;
}


.container5 {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #cccccc;
}

.container5-box1, .container5-box2, .container5-box3, .container5-box4 {
    margin-bottom: 20px;
    flex-basis: 23%;
    text-align: center;
}

.container5-box1 img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.container5-box2 ul {
    list-style-type: none;
    padding: 0;
}

.container5-box2 ul li {
    margin-bottom: 5px;
}

.container5-box4 form {
    margin-top: 10px;
}

.container5-box4 input[type="text"], .container5-box4 button {
    padding: 5px 10px;
}

.container5-box4 button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container5-box4 button:hover {
    background-color: #0056b3;
}
